# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# cmake stuff
mjpg-streamer-experimental/plugins/input_raspicam/build/*
mjpg-streamer-experimental/mjpg_streamer
